body{
  background-color: rgb(49, 49, 49);
  text-align: center;
}

h2 {
  margin-top: 150pt;
  color: rgb(0, 255, 221); 
}

#line1{
  color: rgb(173, 173, 173);
  margin-bottom: 0%;
}

#line2{
  color: rgb(173, 173, 173);
  margin-top: 5pt;
}

#link1{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
}